version: '3.8'
services:
  mysql:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: sassy1234
      MYSQL_DATABASE: sassy
      MYSQL_USER: sassy
      MYSQL_PASSWORD: sassy1234
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
